@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>

<head>

</head>
<body>
    @using (Html.BeginForm())
    {
        <div id="lead" class="jumbotron">
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Go to top</h2>
                <p>
                    let's go
                </p>
                <p><a class="btn btn-default btn-lg" href="#lead">click</a></p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    }
</body>
</html>

